<div [@routerTransition]>
    <app-page-header [heading]="'Manage Videos'" [icon]="'fa fa-fw fa-list-ol'"></app-page-header>
    <div class="row">
        <div class="col-lg-4" *ngFor="let original of originalVideos">
            <div class="card mb-3">
                <div class="card-header">
                    <strong>{{original.name}}</strong>
                </div>
                <div class="card-body">
                    <div class="col-sm-12">
                        <ul class="list-group">
                            <li class="list-group-item">Size: {{original.fileSize}}</li>
                            <li class="list-group-item">Complete: {{original.complete}}</li>
                            <li class="list-group-item">Active: {{original.active}}</li>
                            <li class="list-group-item">
                                <button type="button" class="btn btn-danger">Delete Video</button>
                                <button type="button" class="btn btn-success">Watch Video</button>
                                <button type="button" class="btn btn-info">Download Video</button>
                            </li>
                        </ul>
                    </div>
                    <hr>
                    <p>
                        <button type="button" class="btn btn-outline-primary" (click)="goToConversion(original.originalId)">
                            Open Conversions
                        </button>
                    </p>
                </div>
            </div>
        </div>
        <hr>
    </div>
    <ng4-loading-spinner></ng4-loading-spinner>