<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img id="videoTranscodingLogo" src="assets/images/VideoTranscoding_white_logo.png" />
            <form role="form" [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" id="nick" formControlName="nick" name="nick" class="form-control input-underline input-lg" placeholder="Nick">
                    </div>
                    <div class="form-group">
                        <input type="password" id="password" formControlName="password" name="password" class="form-control input-underline input-lg"
                            placeholder="Password">
                    </div>
                    <div *ngIf="error_login" class="alert alert-danger">
                        <strong>Oh !</strong> Nick or Password are incorrect.
                    </div>
                    <div *ngIf="noConnection" class="alert alert-danger">
                        <strong>Oh !</strong> No Connection with the backend.
                    </div>

                </div>
                <button type="button" class="btn rounded-btn" [routerLink]="['/signup']">Sign Up Now!</button>
                <button class="btn rounded-btn" [disabled]="loginForm.invalid" type="submit"> Log in </button>
            </form>
        </div>
    </div>
</div>
<ng4-loading-spinner></ng4-loading-spinner>