<div [@routerTransition]>
  <app-page-header [heading]="'Watch Videos'" [icon]="'fa fa-fw fa-television'"></app-page-header>
  <div class="row mb-12">
    <div class="col col-sm-4" *ngFor="let original of listOriginalComplete">
      <div class="card">
        <div class="card-header">
          <strong>Original Video - </strong>
          <a (click)="watchVideo(original.originalId,original.originalId)" href="javascript:void(0)">{{original.name}}</a>
        </div>
        <div class="card-body">
          <div *ngFor="let conversion of original.conversions; let $index = index">
            <ul class="list-group">
              <li *ngIf="original.complete" class="list-group-item"><strong>Conversion: </strong> 
                <a href="javascript:void(0)" (click)="watchVideo(original.originalId,conversion.conversionId)">{{ conversion.name }}</a>
              </li>
              <li *ngIf="original.complete" class="list-group-item"><strong>Type: </strong>{{conversion.conversionType}}
              </li>
            </ul>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="noListOriginal">
    <div class="col-xl-3"></div>
    <div class="col-xl-6">
      <div class="alert alert-info">
        <strong>Oh!</strong> No video on this moment.
      </div>
      <div class="wrapper">
        <button type="button" class="btn btn-primary center" [routerLink]="['/upload-videos']">Start here!</button>
      </div>
      <div class="col-xl-3"></div>
    </div>
  </div>
</div>
<ng4-loading-spinner></ng4-loading-spinner>