<div [@routerTransition] *ngIf="canEvaluate">
    <app-page-header [heading]="'Manage Videos'" [heading2]="originalVideo.name" [uriRedirect]="'/manage-videos'" [icon2]="'fa fa-file'"
        [icon]="'fa fa-fw fa-list-ol'"></app-page-header>
    <div class="row">
        <div class="col-lg-6">
            <div class="card mb-3">
                <div class="card-header">
                    <strong>Original: </strong>{{originalVideo.name}}
                </div>
                <div class="card-body">
                    <div class="col-sm-12">
                        <ul class="list-group">
                            <li class="list-group-item">Size: {{originalVideo.fileSize}}</li>
                            <li class="list-group-item">Complete: {{originalVideo.complete}}</li>
                            <li class="list-group-item">Active: {{originalVideo.active}}</li>
                            <li class="list-group-item">
                                <div class="btn-group-vertical btn-block">
                                    <button type="button" class="btn btn-danger">Delete Video</button>
                                    <button type="button" class="btn btn-success">Watch Video</button>
                                    <button type="button" class="btn btn-info">Download Video</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card mb-3" *ngFor="let conversion of originalVideo.conversions">
                <div class="card-header">
                    <strong>Conversion: </strong>{{conversion.name}}
                    <br>
                    <strong>Type: </strong>{{conversion.conversionType}}
                </div>
                <div class="card-body">
                    <div class="col-sm-12">
                        <ul class="list-group">
                            <li class="list-group-item">Size: {{conversion.fileSize}}</li>
                            <li class="list-group-item">Complete: {{conversion.finished}}</li>
                            <li *ngIf="!conversion.finished" class="list-group-item">Active: {{conversion.active}}</li>
                            <li *ngIf="!conversion.finished" class="list-group-item">Progress: {{conversion.progress}}</li>
                            <li class="list-group-item">
                                <div class="btn-group-vertical btn-block">
                                    <button type="button" class="btn btn-danger">Delete Video</button>
                                    <button type="button" class="btn btn-success">Watch Video</button>
                                    <button type="button" class="btn btn-info">Download Video</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
    <ng4-loading-spinner></ng4-loading-spinner>